@model RouteManagerMVC.Models.PersonViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<div class="row">
    <div class="col">
        <div class="card shadow mb-3">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Pessoa</p>
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">

                        <div class="col">
                            <div class="mb-3">
                                <label asp-for="Name" class="form-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>


                    </div>


                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Salvar</button>&nbsp; &nbsp; &nbsp;

                        <a asp-action="Index" class="btn btn-secondary btn-icon-split">
                            <span class="icon text-gray-600">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                            <span class="text">Voltar á lista</span>
                        </a>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
