@model RouteManagerMVC.Models.TeamRequest

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Equipe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            Pessoas
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.People)
        </dd>
    </dl>
</div>
<div class="mb-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>&nbsp; &nbsp; &nbsp;

    <a asp-action="Index" class="btn btn-secondary btn-icon-split">
        <span class="icon text-gray-600">
            <i class="fas fa-arrow-right"></i>
        </span>
        <span class="text">Voltar á lista</span>
    </a>

</div>
